VITE_API_URL=${VITE_API_URL}
PORT=${PORT}
VITE_WS_URL=ws://localhost:8080/ws
VITE_APP_TITLE=Marz
VITE_FARO_URL=http://localhost:12347/collect
VITE_FARO_APP_VERSION=dev
VITE_FARO_ENVIRONMENT=local

CLERK_PUBLISHABLE_KEY=pk_test_c3BlY2lhbC1iZWFyLTkzLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_b00pqMKi5oewW9agBsoYaBT5TTuNeiRyKzxyAQdZCa

MARZ_TEST_SECRET=82797ce537a333399e1c54caa68db056542e76190a8000f9b10db2cc3bcd3745
